<div class="modal_content request">
  <button type="button" class="round_btn x12"></button>
  <div class="thanks">
    <span class="h2">Дякуємо!</span>
    <div class="info">
      <p>Ваш запит прийнято.</p>
      <div>
        <p class="h5">Ім’я Прізвище</p>
        <p class="h5">Назва організації (якщо була вказана)</p>
        <div>
          <p class="h5">+38 098 765 43 21</p>
          <p class="h5">me@gmail.com</p>
        </div>
      </div>
      <p>Ми вже в процесі і зв’яжемося з вами найближчим часом.</p>
    </div>
    <button type="button" class="btn_decor_white" onclick="closeModal()">
      <span class="bcg">
        <img src="public/img/svg/shevron_black_right.svg" alt="">
      </span>
      <span>Чудово</span>
    </button>
  </div>
</div>