<footer id="footer">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.1759692177106!2d30.517897576828616!3d50.43782288827256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefe7461ea27%3A0x1e15c9231b742b0!2z0YPQuy4g0K3RgdC_0LvQsNC90LDQtNC90LDRjywgMjAsINCa0LjQtdCyLCAwMTAwMQ!5e0!3m2!1sru!2sua!4v1775224674303!5m2!1sru!2sua"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
  <div class="footer">
    <div class="head">
      <a href="index.html">
        <img src="public/img/Ingsot_colored.webp" alt="">
      </a>
      <button type="button" class="round_btn black" onclick="scrollToUp()">
        <img src="/public/img/svg/shevron_up.svg" alt="">
      </button>
    </div>
    <div class="title">
      <h2>ГОТОВІ ДО ЦИФРОВОЇ ТРАНСФОРМАЦІЇ ВАШОГО БІЗНЕСУ?</h2>
      <h5>Розкажіть про свій проєкт — ми запропонуємо найкраще рішення вже протягом 1 дня.</h5>
      <button type="button" class="btn_decor_blue">
        Залишити заявку
      </button>
      <button type="button" class="btn_decor_white black">
        <span class="bcg">
          <img src="public/img/svg/shevron_black_right.svg" alt="">
        </span>
        <span>Отримати консультацію</span>
      </button>
    </div>
    <hr>
    <div>
      <div class="info">
        <a href="01.solutions.html" class="h3">Рішення</a>
        <p>Галузі, з якими працюємо</p>
      </div>
      <div class="cont">
        <a href="01.solutions.html" class="linkWithImg">
          B2B-портали
          <img src="/public/img/svg/b2b.svg" alt="">
        </a>
        <a href="01.solutions.html" class="linkWithImg">
          ІоТ Програмне забезпечення
          <img src="/public/img/svg/IoT.svg" alt="">
        </a>
        <a href="01.solutions.html" class="linkWithImg">
          Корпоративні сайти
          <img src="/public/img/svg/corp.svg" alt="">
        </a>
        <a href="01.solutions.html" class="linkWithImg">
          E-commerce рішення
          <img src="/public/img/svg/e-comm.svg" alt="">
        </a>
        <a href="01.1.solutions_marketing.html" class="linkWithImg">
          Маркетинг і реклама
          <img src="/public/img/svg/marketing.svg" alt="">
        </a>
        <a href="01.2.solutions_ai.html" class="linkWithImg">
          AI для бізнесу
          <img src="/public/img/svg/AI.svg" alt="">
        </a>
      </div>
    </div>
    <hr>
    <div>
      <div class="info">
        <a href="02.1.services.html" class="h3">Послуги</a>
        <p>Все для вашого зростання</p>
      </div>
      <div class="cont">
        <div class="link_block">
          <div class="link_title">
            <a href="02.1.services.html">Web / Dev</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="02.4.1.services_IoT_service.html">Бізнес-аналіз</a>
            <a href="02.4.1.services_IoT_service.html">UX/UI дизайн</a>
            <a href="02.4.1.services_IoT_service.html">Веб-розробка</a>
            <a href="02.4.1.services_IoT_service.html">Інтеграції</a>
            <a href="02.4.1.services_IoT_service.html">Підтримка (SLA)</a>
            <a href="02.4.1.services_IoT_service.html">DevOps</a>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="02.2.services_marketing.html">Marketing</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="02.4.1.services_IoT_service.html">Ведення соцмереж (SMM)</a>
            <a href="02.4.1.services_IoT_service.html">Відео / Фото продакшн</a>
            <a href="02.4.1.services_IoT_service.html">Реклама (Meta, TikTok, Google Ads)</a>
            <a href="02.4.1.services_IoT_service.html">SEO</a>
            <a href="02.4.1.services_IoT_service.html">Аналітика та дослідження</a>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="02.3.services_ai.html">AI / Data</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="02.4.1.services_IoT_service.html">AI-агенти та чат-боти</a>
            <a href="02.4.1.services_IoT_service.html">Бази знань (RAG)</a>
            <a href="02.4.1.services_IoT_service.html">AI-процеси та автоматизація</a>
            <a href="02.4.1.services_IoT_service.html">AI-навчання / воркшопи</a>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="02.4.services_IoT.html">IoT</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="02.4.1.services_IoT_service.html">Інтеграція з обладнанням</a>
            <a href="02.4.1.services_IoT_service.html">Хмарні дашборди</a>
            <a href="02.4.1.services_IoT_service.html">Мобільне керування</a>
            <a href="02.4.1.services_IoT_service.html">Сповіщення / Алерти</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <div class="info">
        <a href="06.agency.html" class="h3">Компанія</a>
        <p>Хто ми та як працюємо</p>
      </div>
      <div class="cont">
        <div class="link_block">
          <div class="link_title">
            <a href="06.agency.html">Агенція</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="03.prices.html">Ціни</a>
            <a href="04.cases.html">Кейси</a>
            <a href="05.clients.html">Клієнти</a>
            <a href="">Про нас</a>
            <a href="06.agency.html">Команда</a>
            <a href="08.contacts.html">Контакти</a>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="07.documents.html">Документи та реквізити</a>
            <button type="button"></button>
          </div>
          <div class="drop">
            <a href="07.documents.html">Політика конфіденційності</a>
            <a href="07.documents.html">Cookies Policy</a>
            <a href="07.documents.html">Публічна оферта</a>
            <a href="07.documents.html">NDA / Угода про нерозголошення</a>
            <a href="07.documents.html">Умови користування сайтом</a>
            <a href="07.documents.html">Реквізити</a>
            <a href="07.documents.html" download="">Свідоцтво</a>
            <a href="07.documents.html" download="">Свідоцтво ПДВ</a>
            <a href="07.documents.html" download="">Статистика</a>
            <a href="07.documents.html" download="">Форма 4ОПП</a>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="08.contacts.html">Контактна інформація</a>
          </div>
          <div>
            <a href="mailto:info@ingsot.com">info@ingsot.com</a>
            <a href="tel:+380444920613">+38 044 492 06 13</a>
            <a href="" class="tg">@ingsot_support</a>
            <p>м. Київ, вул. Еспланадна, 20</p>
            <p>Пн–Пт, 09:00–18:00</p>
          </div>
        </div>
        <div class="link_block">
          <div class="link_title">
            <a href="">Ми онлайн</a>
          </div>
          <div class="soc">
            <a href="" class="round_btn black in"></a>
            <a href="" class="round_btn black fb"></a>
            <a href="" class="round_btn black inst"></a>
            <a href="" class="round_btn black youtube"></a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h3>INGSOT — цифрові рішення для бізнесу.</h3>
    <div class="bottom">
      <div class="copyright">
        <p>© 2010-2025 INGSOT. Усі права захищено.</p>
        <p>Власна інфраструктура Tier III.</p>
      </div>
      <div>
        <a href="" class="round_btn on">UA</a>
        <a href="" class="round_btn">EN</a>
        <a href="" class="round_btn">RU</a>
      </div>
    </div>
  </div>
</footer>