<div class="modal_content header_menu">
  <button type="button" class="round_btn x12"></button>
  <div class="body">
    <div class="item">
      <a href="01.solutions.html" class="overlay"></a>
      <p>Там, де технології працюють</p>
      <div class="tags near_black">
        <a href="">#моніторинг верстатів</a>
      </div>
      <p class="h4">Рішення</p>
    </div>
    <div class="item">
      <a href="02.1.services.html" class="overlay"></a>
      <p>Все для вашого зростання</p>
      <div class="tags near_black">
        <a href="">#моніторинг верстатів</a>
        <a href="">#контроль температури</a>
        <a href="">#контроль</a>
      </div>
      <p class="h4">Послуги</p>
    </div>
    <div class="item">
      <a href="03.prices.html" class="overlay"></a>
      <p>Інвестиція у розвиток бізнесу. Прозорість і вигідні умови</p>
      <div class="tags near_black">
        <a href="">#моніторинг верстатів</a>
        <a href="">#вимірювання тиску</a>
        <a href="">#контроль температури</a>
        <a href="">#контроль температури</a>
      </div>
      <p class="h4">Ціни</p>
    </div>
    <div class="item">
      <a href="04.cases.html" class="overlay"></a>
      <p>Реалізовані ідеї та рішення</p>
      <div class="tags near_black">
        <a href="">#вимірювання тиску</a>
        <a href="">#контроль температури</a>
        <a href="">#контроль температури</a>
      </div>
      <p class="h4">Кейси</p>
    </div>
    <div class="item">
      <a href="05.clients.html" class="overlay"></a>
      <p>Разом будуємо результат</p>
      <div class="tags near_black">
        <a href="">#вимірювання тиску</a>
        <a href="">#контроль температури</a>
        <a href="">#тег</a>
      </div>
      <p class="h4">Клієнти</p>
    </div>
    <div class="item">
      <a href="06.agency.html" class="overlay"></a>
      <p>Хто ми та як працюємо</p>
      <div class="tags near_black">
        <a href="">#моніторинг верстатів</a>
        <a href="">#вимірювання тиску</a>
        <a href="">#контроль температури</a>
      </div>
      <p class="h4">Агенція</p>
    </div>
    <div class="item">
      <a href="08.contacts.html" class="overlay"></a>
      <p>Почнімо співпрацю сьогодні</p>
      <div class="tags near_black">
        <a href="">#моніторинг верстатів</a>
        <a href="">#контроль всього і вся</a>
        <a href="">#контроль температури</a>
      </div>
      <p class="h4">Контакти</p>
    </div>
  </div>
  <div class="foot">
    <div>
      <a href="" class="round_btn in"></a>
      <a href="" class="round_btn fb"></a>
      <a href="" class="round_btn inst"></a>
      <a href="" class="round_btn youtube"></a>
    </div>
    <div>
      <a href="" class="round_btn on">UA</a>
      <a href="" class="round_btn">EN</a>
      <a href="" class="round_btn">RU</a>
    </div>
  </div>
</div>